<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!--Daily Temp Folder Items-->
		<add key="DailyTempDirectory" value="E:\TestItems\DailyTempTesting"/>
		<add key="DailyTempArchiveDirectory" value="E:\TestItems\ArchiveDailyTempTesting"/>
		<!--Daily Notes Folder Items-->
		<add key="DailyNotesDirectory" value="E:\TestItems\DailyNotesTesting"/>
	</appSettings>
</configuration>